:root {
    --main-bg-color: #2196f3;
    --background-color: #fff;
    --font-color: #212121;
    --item-color: #757575;
    --btn-color: #f5f4fa;
    --footer-bg-color: #2f303a;
    --header-bord-color: #ececec;
}

/* -------- style reset --------*/

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

/*-------- утилиты -------- */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

/*-------- контейнер -------- */

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/*-------- header --------*/

.header {
    border-bottom: 1px solid var(--header-bord-color);
    height: 80px;
    display: flex;
    align-items: center;
}

.header-container {
    display: flex;
    align-items: center;
}

.logotype-link,
.logotype-link-studio {
    display: flex;
}

.header-nav,
.logotype-link {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--background-color);
    text-decoration: none;
}

.logotype-link {
    color: var(--main-bg-color);
    text-decoration: none;
    font-family: raleway;
}

.logotype-link-studio {
    display: flex;
    color: var(--font-color);
    text-decoration: none;
}

.list-text {
    display: flex;
    margin-left: 93px;
}

.text-item-studio {
    color: var(--main-bg-color);
    text-decoration: none;
    /*margin-left: 93px;*/
}
.list-about {
    color: var(--main-bg-color);
    text-decoration: none;
}

.list-text-about {
    display: flex;
    margin-left: auto;
    list-style: none;
}

.list-item:not(:last-child) {
    margin-right: 50px;
}

.text-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--font-color);
    text-decoration: none;
    margin-left: 50px;
}
.text-item-about {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--font-color);
    text-decoration: none;
    color: var(--item-color);
}

.logotype-link:hover,
.logotype-link:focus,
.logotype-link-studio:hover,
.logotype-link-studio:focus,
.logotype-link-studio2:hover,
.logotype-link-studio2:focus,
.text-item-studio:hover,
.text-item:hover,
.text-item-about:hover,
.footer-item:hover,
.footer-item:focus,
.footer-item-about:hover,
.footer-item-about:focus {
    text-decoration: none;
    color: var(--main-bg-color);
}

.list,
.nav-list,
.list-text {
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    list-style: none;
    text-decoration: none;
}

/*-------- оглавление --------*/

.hero-title {
    background-color: var(--footer-bg-color);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-list {
    color: var(--btn-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    margin: auto;
    width: 696px;
    /*margin-left: auto;
    margin-right: auto;*/
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 696px;
}

.hero-btn {
    padding: 10px 32px;
    color: var(--background-color);
    background-color: var(--main-bg-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    margin-top: 30px;
}

/*-------- Часть с блоками --------*/

.nav-list {
    display: flex;
    justify-content: space-between;
}

.nav-list .content-about {
    color: var(--title-text-colour);
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.content-title {
    width: 270px;
}

.content-about {
    /*margin-bottom: 10px;*/
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--font-color);
    width: 270px;
}

.content-item {
    line-height: 1.71;
    color: var(--item-color);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    letter-spacing: 0.03em;
}

/*-------- Чем мы занимаемся --------*/

.section-work {
    margin-bottom: 94px;
    padding-top: 0;
}

.contact-link {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.about-photo {
    display: block;
}

/*-------- Наша команда --------*/

.section-team {
    background-color: var(--btn-color);
}

.pre-team {
    margin-bottom: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.67;
    color: var(--font-color);
    text-align: center;
}

.team {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    list-style: none;
}
.team > .team-item {
    flex-basis: calc(100% / 4 - 30px);
    margin-right: 30px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--header-bord-color);
    background-color: var(--background-color);
    border-radius: 10px;
}

.section-work-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.67;
    color: var(--font-color);
    text-align: center;
    padding-top: 0;
    margin-bottom: 50px;
}
.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--font-color);
}

.team-list {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.section-about {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.19;
    color: var(--item-color);
    margin-top: 10px;
}

/*-------- кнопки --------*/

.hero-btn {
    padding: 10px 32px;
    color: var(--background-color);
    background-color: var(--main-bg-color);
    /*font-family: inherit;*/
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    border-radius: 4px;
    cursor: pointer;
}
.button-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.button-link {
    margin-right: 8px;
}

.button-link:last-child {
    margin-right: 0;
}

.button {
    display: inline-block;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
    text-align: center;
    border: none;
}

.button-head {
    color: var(--background-color);
    background-color: var(--main-bg-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    border-radius: 4px;
    text-align: center;
    min-width: 73px;
    border: none;
    padding: 6px 22px;
}

.button-header {
    color: var(--font-color);
    background-color: var(--btn-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    border-radius: 4px;
    min-width: 70px;
    border: none;
    padding: 6px 22px;
}

.button-header:hover,
.button-header:focus {
    color: var(--background-color);
    background-color: var(--main-bg-color);
}

/*-------- карточки --------*/

.contact-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.about-item {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--font-color);
    text-decoration: none;
}
.card-list {
    padding: 20px 24px;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: var(--header-bord-color);
}

.cards {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    /*border-width: 1px;
    border-style: solid;
    border-color: var(--header-bord-color);*/
}

.card-title {
    color: var(--font-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.cards:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.cards:nth-child(3n) {
    margin-right: 0;
}

.about-list {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.58;
    color: var(--item-color);
    margin-top: 4px;
}

/*-------- footer --------*/

.logotype-link-footer {
    color: var(--main-bg-color);
    text-decoration: none;
    font-family: raleway;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}

.footer-list {
    margin-top: 20px;
    list-style: none;
}

.footer-item {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    color: var(--item-color);
    margin-top: 9px;
}

.footer-item-adress {
    font-style: normal;
    line-height: 1.71;
    color: var(--background-color);
    text-decoration: none;
}

.logotype-link-studio2 {
    color: var(--background-color);
}

.footer-item {
    display: block;
    text-decoration: none;
    margin-bottom: 9px;
}

.footer-section {
    background-color: var(--footer-bg-color);
    padding-top: 60px;
    padding-bottom: 60px;
}
